:root {
	--neon-color: #39ff14;
	--main-txt-color: white;
}

.imgContainer {
	display: flex;
	justify-content: right;
}

img {
	height: 500px;
	width: auto;
	position: absolute;
	top: 25%;
	left: 15%;
	border-radius: 15px;
	box-shadow: none;
}

img:hover {
	box-shadow: 0px 0px 15px rgb(255, 255, 255, 0.8);
	transition: all 0.5s ease;
}

.txtContainer {
	color: white;
	position: absolute;
	right: 10%;
	top: 25%;
}

.slideAnimation {
	animation: slide 2s;
	transition: animation 2.5s;
}

.txtHeader {
	text-align: center;
	display: flex;
	flex-flow: column wrap;
	gap: 1em;
	font-size: 4rem;
	font-weight: bold;
}

.bodyContainer {
	position: absolute;
	color: var(--main-txt-color);
	text-align: left;
	top: 90%;
	margin-left: 1em;
}

.bodyHeader {
	text-align: center;
}

.bodyTxtHeader {
	font-weight: bold;
	font-size: 4rem;
}

.bodyTxtHeader span {
	text-decoration: none;
	color: var(--neon-color);
}

.bodyTxt {
	margin: 1em;
	font-size: 1.5rem;
}

.marginBottom {
	margin-bottom: 5em;
}

.bodyTxt > a {
	color: var(--neon-color);
}

@keyframes slide {
	from {
		right: -50%;
	}

	to {
		right: 10%;
	}
}

@media screen and (max-width: 1440px) {
	.txtContainer {
		top: 15%;
		right: 7%;
	}

	img {
		margin: 1em;
		height: 450px;
		width: auto;
		left: 10%;
		top: 14%;
	}

	.bodyContainer {
		top: 80%;
	}

	@keyframes slide {
		from {
			right: -50%;
		}

		to {
			right: 7%;
		}
	}
}

@media screen and (max-width: 1024px) {
	.txtContainer {
		right: 7%;
	}

	.txtHeader {
		font-size: 3rem;
	}

	img {
		height: 400px;
		left: 7%;
		top: 17%;
	}

	.bodyContainer {
		top: 80%;
	}

	.bodyTxtHeader {
		font-size: 3rem;
	}

	.bodyTxt {
		font-size: 1.5rem;
	}

	@keyframes slide {
		from {
			right: -50%;
		}

		to {
			right: 7%;
		}
	}
}
