:root {
	--neon-color: #39ff14;
	--main-txt-color: white;
}

.fullBackground {
	background-color: black;
	background-attachment: fixed;
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	scroll-behavior: smooth;
}

.whiteBox {
	display: flex;
	flex-flow: column;
	width: 40%;
	height: 500px;
	position: absolute;
	left: 15%;
	top: 30%;
	background-color: whitesmoke;
	border-radius: 15px;
}

.imgContainer {
	display: flex;
	justify-content: right;
}

img {
	height: 500px;
	width: auto;
	position: absolute;
	top: 20%;
	left: 25%;
	border-radius: 15px;
	box-shadow: 0 10px 30px rgb(0, 0, 0);
}

.txtContainer {
	color: white;
	position: absolute;
	right: 8%;
	top: 15%;
}

.slideAnimation {
	animation: slide 1s;
	transition: animation 2.5s;
}

.txtHeader {
	font-weight: bold;
	font-size: 4rem;
}

.bodyContainer {
	position: relative;
	color: var(--main-txt-color);
	text-align: left;
	top: 90%;
	margin-left: 1em;
}

.bodyHeader {
	text-align: center;
}

.txtHeader > span {
	color: var(--neon-color);
}

.bodyTxt {
	font-size: 1.5rem;
}

.bodyTxt > span {
	color: var(--neon-color);
}

@keyframes slide {
	from {
		right: -50%;
	}

	to {
		right: 8%;
	}
}
