.backgroundColor {
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	overflow: hidden;
	background-color: black;
}

h1 {
	text-align: center;
	position: relative;
	top: 50%;
	color: white;
}
